<div class="mainAbout">


    <section class="aboutSec">
        <h1>About Us</h1>
        <p style="font-weight: bold">
            Welcome to Recipe-Hunt...
        </p>
        <div class="aboutSec-info">
            <div class="aboutSec-img">
                <img src="/img/aboutImage.png" alt="Recipe-Hunt Logo">
            </div>
            <div>
                <p> Your ultimate destination for exploring a diverse array of recipes from around 
                    the world! Whether you're searching for a classic comfort food dish or eager to 
                    discover new culinary delights, our platform offers a wealth of information and
                    inspiration to satisfy your appetite. Join our community of food enthusiasts and 
                    embark on a flavorful journey where every recipe tells a story.
                </p>
                <button>Read More...</button>
            </div>
        </div>
    </section>

    <section class="team">
        <h1>Meet Our Team</h1>
        <div class="team-cards">

            <!-- Cards here -->
            <!-- Card 1 -->

            <div class="aboutcard">
                <div class="aboutcard-img">
                    <img src="https://media.geeksforgeeks.org/wp-content/uploads/20230824122630/
business-office-business-woman-professional.jpg" alt="User 1">
                </div>
                <div class="aboutcard-info">
                    <h2 class="aboutcard-name">Jane</h2>
                    <p class="aboutcard-role">CEO and Founder</p>
                    <p class="aboutcard-email">jane@example.com</p>
                    <p><button class="abotbutton">Contact</button></p>
                </div>
            </div>

            <!-- Card 2 -->

            <div class="aboutcard">
                <div class="aboutcard-img">
                    <img src="https://media.geeksforgeeks.org/wp-content/uploads/20230822183347/
man-portrait-businessman-male.jpg" alt="User 2">
                </div>
                <div class="aboutcard-info">
                    <h2 class="aboutcard-name">Miller</h2>
                    <p class="aboutcard-role">Co-Founder</p>
                    <p class="aboutcard-email">Miller@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>

            <!-- Card 3 -->

            <div class="aboutcard">
                <div class="aboutcard-img">
                    <img src="https://media.geeksforgeeks.org/wp-content/uploads/20230824122630/
business-office-business-woman-professional.jpg" alt="User 3">
                </div>
                <div class="aboutcard-info">
                    <h2 class="aboutcard-name">Joe</h2>
                    <p class="aboutcard-role">Co-Founder</p>
                    <p class="aboutcard-email">Joe@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </section>

</div>